@font-face {
  font-family: 'iconfont';  /* Project id 4010150 */
  src: url('https://at.alicdn.com/t/c/font_4010150_oly64nxceq.woff2?t=1681821802539') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4010150_oly64nxceq.woff?t=1681821802539') format('woff'),
       url('https://at.alicdn.com/t/c/font_4010150_oly64nxceq.ttf?t=1681821802539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 音悦台 */
.icon-music-station:before {
  content: "\e60d";
}
/* 歌单 */
.icon-playlist:before {
  content: "\e636";
}
/* 账号 */
.icon-account:before {
  content: "\e6a0";
}
/** 抽屉向右 */
.icon-drawer-toright:before {
  content: "\e9c8";
}