@import "./variable";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: var(--status-bar-height);
  color: $default-black;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
