/** 横屏tabbar 宽度 */
$landscape-tabbar-width: 200rpx;
/** 默认阴影 */
$default-shadow: 0 0 20rpx rgba(0, 0, 0, 0.1);
/** 默认黑色 */
$default-black: #333;
/** 默认灰色 */
$default-gray: #999;
/** 默认激活背景色 */
$default-active-bg: #f5f5f5;
/** 主题色 */
$theme-color: #ff6d00;
/** 默认border */
$default-border: 1rpx solid #e9e9e9;
/** 控制条高度 */
$control-strip-height: 200rpx;